/* RESET */

body, h1, h2, p, ul, li, a {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Rubik', sans-serif;
    color: #FFFFFF;
    background: #f3f4f7;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Imagens responsivas sem estourar o container */

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

/* HEADER */

.header {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg_banner.png);
    background-size: cover;
    background-repeat: repeat;
}

/* MENU */
.menu {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px 30px 0 30px;
    align-items: center;
}

.menu>a {
    color: #FFFFFF;
    font-size: 1.875em;
    font-weight: 300;
    padding: 15px;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
}

.menu ul li a {
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 300;
    margin: 0 10px;
    padding: 15px;
}

.menu ul li a:hover {
    border-bottom: 1px solid;
    
}

/* HEADER INFO */
.header-info {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin: 0;
    max-width: 730px;
    text-align: center;
}

.header-info h1 {
    font-size: 4.5em;
    font-weight: 300;
    text-transform: uppercase;
}

.header-info p {
    font-size: 1.125;
    font-weight: 300;
    line-height: 1.8;
}

/* OUR STORY */
.ourstory {
    display: flex;
    justify-content: center;
    background: #962323;
}

.ourstory-container {
    max-width: 1170px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    padding: 120px 30px
}

.ourstory-img {
   max-width: 445px;
}

.ourstory-info {
    max-width: 540px;
    text-align: center;
}

.ourstory-info h1 {
    margin-top: 15px;
    display: block;
    font-family: 'Dancing Script', cursive;
    font-size: 3.5em;
}

.ourstory-info h1::after {
    content: '';
    display: block;
    width: 100px;
    margin: 15px auto 0 auto;
    border-bottom: 2px solid #FFFFFF;
}

.ourstory-info p {
    margin-top: 60px;
    line-height: 2;
}

/* SIGNATURES RECIPES */
.signatures {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-image: url(../img/bg_signatures.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px;
    align-content: center;
    text-align: center;
}

.signatures h1 {
    display: block;
    font-family: 'Dancing Script', cursive;
    font-size: 3.5em;
}

.signatures h1::after {
    content: '';
    display: block;
    width: 100px;
    margin: 15px auto 0 auto;
    border-bottom: 2px solid #c8235d;
}

.signatures p {
    margin-top: 60px;
    display: block;
    max-width: 540px;
    line-height: 2;
}

/* OUR MENU */
.ourmenu {
    max-width: 1170px;
    margin: 0 auto;
    padding: 120px 30px;
}

.ourmenu h1 {
    display: inline-block;
    font-family: 'Dancing Script', cursive;
    font-size: 3.5em;
    color: #0b0c0d;
    text-align: center;
}

.ourmenu h1::after {
    content: '';
    display: block;
    width: 100px;
    margin: 15px auto 0 auto;
    border-bottom: 2px solid #c8235d;
}

.menu-item {
    max-width: 1170px;
    margin: 0 auto;
}

.menu-item ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-between;
}

.menu-item ul li {
    max-width: 475px;
}

.menu-item-title {
    color: #0b0c0d;
    font-size: 1em;
}

.menu-item-value {
    color: #c8235d;
    font-size: 1em;
    float: right;
}

.menu-item-info {
    color: #505153;
    margin-top: 30px;
    margin-bottom: 60px;
}

/* PORTFOLIO */
.portfolio {
    display: block;
    background-image: url(../img/bg_portfolio.png);
    background-repeat: repeat-x;
    min-height: 365px;
}

/* SITEMAP */
.info-title {
    font-size: 1.625em;
    font-weight: 300;
}

.info-content {
    font-size: 0.875em;
    line-height: 1.8;
}

.info {
    background: #25262a;
    padding: 85px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info a {
    color: #FFFFFF;
}

.info-company {
    display: block;
    max-width: 255px;
    margin-left: 30px;
}

.info-sitemap {
    min-width: 160px;
    margin-left: 30px;
}

.info-category {
    min-width: 160px;
    margin-left: 30px;
}

.info-menu {
    min-width: 160px;
    margin-left: 30px;
}

.info-contactus{
    max-width: 255px;
}

.info-contactus ul li img {
    display: inline-block;
    margin-right: 15px;
}

/* FOOTER */
.footer {
    background: #16171b;
    padding: 60px 30px;
}

